<% include header %>
<form  action="/" method="post" class="ui form">
    <div class="field">
        <label for="registration">Register</label>
        <input type ="text" name="name" id="text" placeholder="Your name"></input>
        <input type="text" name="email" id="text" placeholder="Your email"></input>
        <input type="text" name="password" id="text" placeholder="Your password"></input>
    </div>
    <button type="submit" class="ui blue labeled submit icon button">
        <i class="icon edit"></i>Sign in
    </button>
</form>
<% include footer %>