<% include ../layout.ejs %>
        <title>Sign In</title>
        <h1>Connexion</h1>
        </div>
    </div>
</div>
<div class="col-sm-4 mx-auto">
    <div class="card-body bg-info" style="border-radius: 10px">
        <form action="./signin" method="post">
            <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input name="password" type="password" class="form-control" id="passwordInput" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>